
body{
    background-image: linear-gradient(to top, rgba(48, 208, 208, 0.411) 0%, rgba(51, 8, 103, 0.377) 50%), url(./img/poke1.png);
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position : center;
    height: 100%;
    color: #ffff;
    
}
h1{
    right:300px ;
}
